---
layout: default
title: Home
---
<main id="main" class="site-main">

{% if page.url == "/" %}
{% include index_box.html %}
{% endif %}

{% if page.url == "/" %}
<!-- Featured-->
<div id="featured-posts" class="featured-posts">
    {% for post in site.posts %}
    {% if post.featured == true %}
    {% include featuredbox.html %}
    {% endif %}
    {% endfor %}
</div>

{% endif%}

<!-- Posts Index -->
<div class="post-feed inner">
    {% if page.url == "/" %}
    <div class="post-feed-title">
        <h2>Latest Articles</h2>
    </div>
    {% endif %}
    <div class="post-feed inner-wide">
        {% for post in paginator.posts %}
            {% include postbox.html %}
        {% endfor %}
    </div>
</div>
<!-- Pagination-->
{% include pagination.html %}

</main>


