<p class="social-links">

    <a href="https://twitter.com/metabrew" target="_blank">
        {% include icons/twitter.html %}
    </a>

    <a href="https://bsky.app/profile/metabrew.com" target="_blank">
        {% include icons/bsky.html %}
    </a>

    <a href="https://github.com/RJ" target="_blank">
        {% include icons/github.html %}
    </a>

    <a href="https://www.last.fm/user/RJ" target="_blank">
        {% include icons/lastfm.html %}
    </a>

    <a href="/rss.xml" target="_blank">
        {% include icons/rss.html %}
    </a>

</p>